<%= render 'layouts/header' %>
<title>Business Model Canvas</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1528088910840372";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('bmc-big.jpg', class: 'img-responsive', alt: 'Business Model Canvas') %>	
						<div class="single-post-heading gap">
				        <div class="centered fade-up section-heading">
				        	     <p>
 				                <h1><strong>Business Model Canvas</strong></h1>
				                </p>
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<br>
								<p>The Business Model Canvas is a tool to help you develop and document the business model of your startup idea. In just one page this template captures the nine building blocks a business model. With increased popularity of the business model canvas, a common language has been created around these nine building blocks.  </p>

								<p>
								 <%= link_to image_tag('canvas.png', class: 'img-responsive', alt: 'business model canvas', width: '760', height: '487'), "#" %>
                   
                <h2 class="page-stitle"></h2>
                <a href="http://www.businessmodelgeneration.com/downloads/business_model_canvas_poster.pdf" target="_blank" class="btn btn-primary btn-lg">Download</a></p>
                    			

								<h2>The Nine Building Blocks</h2>

								<p><strong>1. Customer Segments:</strong>: Who are the customers? What do they think? See? Feel? Do?<br>
								<strong>2. Value Propositions:</strong> What’s compelling about the proposition? Why do customers buy, use?<br>
								<strong>3. Channels:</strong> How are these propositions promoted, sold and delivered? Why? Is it working?<br>
								<strong>4. Customer Relationships:</strong> How do you interact with the customer through their ‘journey’?<br>
								<strong>5. Revenue Streams:</strong> How does the business earn revenue from the value propositions?<br>
								<strong>6. Key Activities:</strong> What uniquely strategic things does the business do to deliver its proposition?<br>
								<strong>7. Key Resources:</strong> What unique strategic assets must the business have to compete?<br>
								<strong>8. Key Partnerships:</strong> What can the company not do so it can focus on its Key Activities?<br>
								<strong>9. Cost Structure:</strong> What are the business’ major cost drivers? How are they linked to revenue?</p> 	

								<p>
                <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wwShFsSFb-Y" frameborder="0" allowfullscreen></iframe></p></div>
                 <div class="spacer-10"></div>			

							</div>
						<div class="fb-share-button" data-href="http://startupacademy.jsie.in/topics/week3/" data-layout="button_count"></div>
               <div class="spacer-50"></div>
						<br>
						</div>
					</div>
				</div>
							
	                <div id="single-sidebar" class="col-md-4 col-sm-4 pull-left">
		                <div id="single-sidebar-inner">
			                

<div class="widget">
<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
<div class="recent-comment-list">
<ul class="comment-list fade-up">
   <li>
  <div class="commentText">
    <h4><%= link_to("Users vs. Customers", "http://businessmodelalchemist.com/blog/2010/07/users-vs-customers.html", target: "_blank")%></h4>
   <%= link_to("Alexander Osterwalder", "https://twitter.com/AlexOsterwalder", target: "_blank")%>
  </div>
  </li>
    <li>
	<div class="commentText">
    <h4><%= link_to("The 30 Minute Business Plan: Business Model Canvas Made Easy", "http://www.alexandercowan.com/business-model-canvas-templates/", target: "_blank")%></h4>
   <%= link_to("Alex Cowan", "https://twitter.com/cowanSF", target: "_blank")%>
  </div>
  </li>
   <li>
	<div class="commentText">
    <h4><%= link_to("How to Build a Startup: The Business Model Canvas", "https://www.udacity.com/course/viewer#!/c-ep245/l-48743167/m-4873815", target: "_blank")%></h4>
   <%= link_to("Steve Blank", "https://twitter.com/sgblank", target: "_blank")%>
  </div>
  </li>					        
							       
  </ul>
  </div>
  </div>
			                
<div class="widget">
<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
<div class="recent-comment-list">
<ul class="comment-list fade-up">
	  <li>
	<div class="commentText">
    <h4><%= link_to("Strategyzer", "https://strategyzer.com/", target: "_blank")%></h4>
   Business Modeling Tools
  </div>
  </li>
    <li>
	<div class="commentText">
    <h4><%= link_to("Lean Stack", "http://leanstack.com/", target: "_blank")%></h4>
   Tools, content and coaching for entrepreneurs
   </div>
  </li> 
  </ul>
</div>
</div>

  <div class="widget">
  <h2 class="widget-title fade-down"><strong>Social</strong>Media</h2>
  <div class="recent-comment-list">
  <ul class="comment-list fade-up">
<div class="fb-page" data-href="https://www.facebook.com/JSiEstartupacademy" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JSiEstartupacademy"><a href="https://www.facebook.com/JSiEstartupacademy">StartUp Academy</a></blockquote></div></div>
   </div>
  </li> 
  </ul>

  </div>
  </div>
  </div>
  </div>
  </div> 						
<div class="jumbotron text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label=""></div>
  <button type="button" class="btn btn-default">Cofounders</button>
  <button type="button" class="btn btn-default">Getting Traction</button>
</div>
  </div>                       
				                    </div>          
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>
<script>mixpanel.track("Business Model Blog View"); </script>