<%= render 'layouts/header' %>
 <title>Getting Traction</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1528088910840372";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
  	<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('traction-big.jpg', class: 'img-responsive', alt: 'Traction') %>
						<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        		<p>
				                <h1><strong>Getting Traction</strong></h1>
				                </p>
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<br>
								<p><strong>“The pursuit of traction is what defines a startup.”
― Gabriel Weinberg, Traction: A Startup Guide to Getting Customers</strong></p>

<p>Taking your startup from an idea to an enterprise will require a laser focus on growth. So what is growth for your startup? It will depend on your business model. But it should be measurable and it should be actionable.  According to Dave Mcclure of 500 Startups, it will likely be one of the following:<br><br>
 
<strong>1)   Get Users<br>
2)   Drive Usage<br>
3)   Generate Revenue<br></strong>
 
<h2>Measuring Traction</h2>
 
<p>Try to locate a specific and repeatable action (that you can consistently observe) that leads to growth of your startup. This action is your focus.  A customer purchasing your product is the most obvious example. But what if this action hasn’t happening yet? Work backwards. What might a potential customer being doing leading up to that action of purchasing? If your product in online, how are people finding your website?  How long are they staying on your website? How often does a new visitor click on your call to action button? Each of these activities can be measured. Determine which activities are key to your customer’s experience and their likelihood to purchase your product. <strong>Make it as easy as possible for them.</strong>  Imagine your website like a physical store. You are unlikely to create a maze or obstacle course for your customers to get to the products they want to buy. </p>

<h2>Customer Engagement</h2>

<p>While growth is critical, building something customers love should be your first focus. Sam Altman suggests that “the right initial metric is ‘do any users love our product so much they spontaneously tell other people to use it?’ Until that’s a “yes”, founders are generally better off focusing on this instead of a growth target.” </p>

<p>Remember,  your startup should be solving a problem faced by customers. The better you understand your customers, the better you can design a product or service that addresses their problem. This is the formula for the best form of growth possible “word of mouth” viral growth.</p>

<h2>Growth Hacking</h2>

<p>The term “growth hacker” was coined by Sean Ellis in 2010. Growth hacking is marketing for startups that focuses purely on growth. Traditional marketing practices are better suited for large corporates, but often not very relevant to startups. Startups have one focus – growth. If the startup doesn’t growth it will fail.</p>
 
<p>When the target is purely focused on growth, the methods, tools and best practices will be different from traditional marketing. So what are some of these growth hacking tools? A good place to look is to take a look at the growth studies featured on Growthackers.com.<br>

- <%= link_to("The Story of Etsy’s Crafty Growth to IPO and a $2 Billion Valuation", "https://growthhackers.com/growth-studies/etsys-crafty-growth-to-ipo-and-a-2-billion-valuation", target: "_blank")%><br>
- <%= link_to("Whatsapp - The Antimarketing Growth Story", "https://growthhackers.com/growth-studies/whatsapp", target: "_blank")%><br>
- <%= link_to("How Slack Became the Fastest Growing B2B SAAS Business (Maybe) Ever", "https://growthhackers.com/growth-studies/slack-fastest-growing-b2b-saas-business-ever", target: "_blank")%><br>
</P>
							</div>
							</div>
							<div class="fb-share-button" data-href="http://startupacademy.jsie.in/topics/week2/" data-layout="button_count"></div>
              <div class="spacer-50"></div>
							<br>
						</div>
					</div>
	<div id="single-sidebar" class="col-md-4 col-sm-4 pull-left">
    <div id="single-sidebar-inner">

    <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">

	<li>
	<div class="commentText">
    <h4><%= link_to("Before Growth", "http://blog.samaltman.com/before-growth", target: "_blank")%></h4>
   <%= link_to("Sam Altman, YCombinator", "https://twitter.com/sama", target: "_blank")%>
  </div>
  </li>
	<li>
	<div class="commentText">
    <h4><%= link_to("16 Startup Metrics", "http://a16z.com/2015/08/21/16-metrics", target: "_blank")%></h4>
   <%= link_to("Andreessen Horowitz", "http://a16z.com/", target: "_blank")%>
  </div>
  </li>
	<li>
	<div class="commentText">
    <h4><%= link_to("You Need a Co-Founder, Not a Slave", "http://yourstory.com/2015/07/need-co-founder/", target: "_blank")%></h4>
   <%= link_to("Your Story", "http://yourstory.com/", target: "_blank")%>
  </div>
  </li>    
   <li>
	<div class="commentText">
    <h4><%= link_to("Marketing 101: The Importance of Conversion", "http://mashable.com/2013/11/21/conversions-metrics/#0IJOSOiXESqp", target: "_blank")%></h4>
   <%= link_to("Lauren Drell", "https://twitter.com/drelly", target: "_blank")%>
  </div>
  </li>					            
  <li>
	<div class="commentText">
    <h4><%= link_to("Startup Metrics for Pirates: AARH", "http://www.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version", target: "_blank")%></h4>
   <%= link_to("Dave Mcclure, 500 Startups", "https://twitter.com/davemcclure", target: "_blank")%>
  </div>
  </li>							            
    <li>
	<div class="commentText">
    <h4><%= link_to("Growth Hacking: How Startups Grow from 0 to Millions Users", "http://www.slideshare.net/mattangriffel/growth-hacking", target: "_blank")%></h4>
   <%= link_to("Mattan Griffel, One Month", "https://twitter.com/mattangriffel", target: "_blank")%>
  </div>
  </li>						            
   </ul>
  </div>
  </div>						            
							      
      <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">					           							
   <li>
	<div class="commentText">
    <h4><%= link_to("Growthhacker - Growth Studies", "https://growthhackers.com/growth-studies", target: "_blank")%></h4>
    Learn how to some of the best companies achieved viral growth
  </div>
  </li>

   <li>
	<div class="commentText">
    <h4><%= link_to("Cofounders Lab", "https://www.cofounderslab.com/", target: "_blank")%></h4>
    Build Your Core Team
  </div>
  </li>

  <li>
	<div class="commentText">
    <h4><%= link_to("Founder Dating", "http://founderdating.com/", target: "_blank")%></h4>
    Find Your Cofounder
  </div>
  </li>
  </ul>	
</div>
</div>

  <div class="widget">
  <h2 class="widget-title fade-down"><strong>Social</strong>Media</h2>
  <div class="recent-comment-list">
  <ul class="comment-list fade-up">
<div class="fb-page" data-href="https://www.facebook.com/JSiEstartupacademy" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JSiEstartupacademy"><a href="https://www.facebook.com/JSiEstartupacademy">StartUp Academy</a></blockquote></div></div>
   </div>
  </li> 
  </ul>	

  </div>           
  </div>        
  </div>  
  </div>
  </div>
<div class="jumbotron text-center">
<div class="btn-group" role="group" aria-label=""></div>
  <button type="button" class="btn btn-default">Business Model</button>
  <button type="button" class="btn btn-default">Legal Checklist</button>
</div>
</div>
  </div>               
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>