<%= render 'layouts/header' %>

<% content_for :head do %>
  <meta property="og:url"           content="http://www.startupacademy.jsie.in/greatidea" />
  <meta property="og:type"          content="blog" />
  <meta property="og:title"         content="A Great Idea" />
  <meta property="og:description"   content="What problem are you solving?" />
  <meta property="og:image"         content="<%=asset_url('greatidea-big.jpg') %>" />
   <meta property="fb:app_id"       content="1535582636740127" />
    <% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1528088910840372";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('greatidea-big.jpg', class: 'img-responsive', alt: 'Great Startup Idea') %>	
						<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        	     <p>
 				                <h1><strong>A Great Idea</strong></h1>
				                </p>
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<br>
								<p><strong>“By far the most common mistake startups make is to solve problems no one has.” - Paul Graham</strong> </p>

								</p>A great way to think about startup ideas is to think about problems. Is your startup idea solving a worthwhile problem? How would you verify the problem exists? Problems can arise in many forms, as pain points, unmet needs, or frustrations. The bottom line: focus on problems and avoid  working on a solution in search for a problem.  </p>

								<h2>Verifying the Problem</h2>

								<p>The best startups are those which solve an existing problem that no one else has been able to solve yet. Facebook solved the problem of staying in touch and knowing what your friends and family are doing. Uber solved the problem for taxi drivers of knowing demand in real time. AirBnB solved the problem of making temporary housing more affordable in large cities, and so on.</p> 

								<p>One way to verify whether your startup idea is solving a real problem is to discuss the idea with others and try to find, at least, a small group of people who urgently want what you would offer. Plus feedback from these potential customers of your product or service is a key first step in the process. And you should speak with them regularly and maintain a tight feedback loop as you develop your startup idea.</p>

								<h2>Great Startup Ideas</h2>
								<p>So how do you know if you have a great idea? To famous entrepreneur Peter Thiel, if your product isn't 10x better, it will be hard to sell in a crowded market. Without a qualitatively superior product, you will struggle to differentiate from existing solutions. It takes this differentiation to convince customers to pay switching costs. </p>

								<p> While an idea is extremely important, it is vital to keep in mind that the execution is the most important factor in the success of your startup. As Paul Graham once said “What matters is not ideas, but the people who have them. Good people can fix bad ideas, but good ideas can’t save bad people.”   </p>

							</div>
						</div>
						<div class="fb-share-button" data-href="http://www.startupacademy.jsie.in/greatidea" data-layout="button_count"></div>
            <div class="spacer-50"></div>
						</div>
					</div>
							
	 <div id="single-sidebar" class="col-md-4 col-sm-4 pull-left">
	<div id="single-sidebar-inner">
			                

    <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">

	<li>
	<div class="commentText">
    <h4><%= link_to("How to Get Great Startup Ideas", "http://www.paulgraham.com/startupideas.html", target: "_blank")%></h4>
   <%= link_to("Paul Graham, YCombinator", "https://twitter.com/paulg", target: "_blank")%>
  </div>
  </li>
  <li>
  <div class="commentText">
    <h4><%= link_to("How to Choose Your Startup Idea", "http://sequoiacapital.tumblr.com/post/33921354769/how-to-choose-your-startup-idea", target: "_blank")%></h4>
   <%= link_to("Sequoia Capital", "https://www.sequoiacap.com/", target: "_blank")%>
  </div>
  </li>
<li>
  <div class="commentText">
    <h4><%= link_to("The 10x Rule for Great Startup Ideas", "http://thenextweb.com/entrepreneur/2015/07/13/the-10x-rule-for-great-startup-ideas/", target: "_blank")%></h4>
   <%= link_to("Walter Chen,Co-founder of iDoneThis", "https://twitter.com/smalter", target: "_blank")%>
  </div>
  </li>
<li>
  <div class="commentText">
    <h4><%= link_to("Before the Startup", "https://clip.mn/video/yt-ii1jcLg-eIQ", target: "_blank")%></h4>
   <%= link_to("Paul Graham, YCombinator", "https://twitter.com/paulg", target: "_blank")%>
  </div>
  </li>
<li>
  <div class="commentText">
    <h4><%= link_to("What Are The Best Ways To Think Of Ideas For A Startup", "http://www.forbes.com/sites/quora/2013/05/08/what-are-the-best-ways-to-think-of-ideas-for-a-startup", target: "_blank")%></h4>
   <%= link_to("Dan Lewis, CEO of Convoy", "https://angel.co/danformiles", target: "_blank")%>
  </div>
  </li>
	<li>
  <div class="commentText">
    <h4><%= link_to("How To Start a Startup", "https://clip.mn/video/yt-CBYhVcO4WgI", target: "_blank")%></h4>
   <%= link_to("Sam Altman, YCombinator", "https://twitter.com/sama", target: "_blank")%>
  </div>
  </li>						            
   </ul>
  </div>
  </div>
			               
    <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">
   <li>
  <div class="commentText">
    <h4><%= link_to("Startup Stash - Idea Generation", "http://startupstash.com/ideageneration/", target: "_blank")%></h4>
    A curated list of resources for idea generation 
  </div>
  </li>
    <li>
	<div class="commentText">
    <h4><%= link_to("IDEO.org Design Kit", "http://www.paulgraham.com/startupideas.html", target: "_blank")%></h4>
    Brainstorming Toolkit
  </div>
  </li>
   
   <li>
	<div class="commentText">
    <h4><%= link_to("Founders and Funders", "http://fundersandfounders.com", target: "_blank")%></h4>
    Visual startup blog
  </div>
  </li>            
	<li>
	<div class="commentText">
    <h4><%= link_to("Your Story", "http://yourstory.com/", target: "_blank")%></h4>
    Media platform for Indian startups
  </div>
  </li> 
  </ul>
</div>
</div>
  
  <div class="widget">
  <h2 class="widget-title fade-down"><strong>Social</strong>Media</h2>
  <div class="recent-comment-list">
  <ul class="comment-list fade-up">
<div class="fb-page" data-href="https://www.facebook.com/JSiEstartupacademy" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JSiEstartupacademy"><a href="https://www.facebook.com/JSiEstartupacademy">StartUp Academy</a></blockquote></div></div>
   </div>
  </li> 
  </ul>

  </div>
  </div>
  </div>
  </div>
  </div> 
<div class="jumbotron text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label=""></div>
<%= link_to("Cofounders", "http://www.startupacademy.jsie.in/cofounders", class: 'btn btn-default') %> 
</div>
  </div>                       
				                    </div>          
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>
<script>mixpanel.track("Great Idea Blog View"); </script>