<%= render 'layouts/header' %>
 <title>Legal Checklist</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1528088910840372";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> 
  	<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('cofounders-big.jpg', class: 'img-responsive', alt: 'Cofounders') %>
						<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        		<p>
				                <h1><strong>Legal Checklist</strong></h1>
				                </p>
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<br>
								<p>Looking for a co-founder? You should start this process by first looking at yourself. What are your core strengths and skills? What about your weaknesses? Co-founders can help complement your skills, help you manage your time more effectively, and provide moral support. But the decision to bring on new co-founders shouldn't be taken lightly. The following guide will walk you through why finding the right co-founder is so important and what you need to do to find the right one(s). Ultimately, building a cohesive team will put you one step closer to executing your startup idea. </p>

								<h2>What is the perfect startup team?</h2>

								<p>Saul Klein, serial tech entrepreneur, believes that the perfect startup team has three types of founders working together: <br>
								1. Someone who understands how to build technologies and systems to solve problems;<br>
								2. Someone who understands the human factors behind those problems, why they exist, what it takes to fix them and how to shape the experience;<br>
								3. Someone who understands how to reach, talk to and sell to the people whose problems are being solved - and keep finding more of them</p>

								<span class="quora-content-embed" data-name="What-is-the-perfect-startup-team/answer/Tim-Westergren">Read <a class="quora-content-link" data-width="559" load-full-answer="True" data-key="d57b23584d67198fd511235bdcac7766" data-id="279807" data-embed="kgabkel" href="https://www.quora.com/What-is-the-perfect-startup-team/answer/Tim-Westergren" data-type="answer" data-height="250"><a href="https://www.quora.com/Tim-Westergren">Tim Westergren</a>&#039;s <a href="/What-is-the-perfect-startup-team#ans279807">answer</a> to <a href="/What-is-the-perfect-startup-team" ref="canonical">What is the perfect startup team?</a></a> on <a href="https://www.__nousername__.main.quora.com">Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>
								

								<h2>What about Being a Solo Founder?</h2>
								"It’s better to have no co-founder than to have a bad co-founder, but it’s still bad to be a solo founder," says Sam Altman, CEO of Y Combinator, a premier seed fund and programme for startups based in Silicon Valley. It widely believed that startup with a team of 2-3 individuals is ideal, particularly in attracting investment. But there are some benefits to starting a business solo. Actually, the highest number of businesses in the US are single-founder businesses totaling 20 million, according to Inc. citing recent US census data. Ultimately, not having a co-founder shouldn't stop you from starting. </p>

								<h2>What should I look for in co-founder?</h2>

								<p>Shahab Kaviani, CEO of CoFoundersLab, suggests some things to look for when identifying cofounders.<br>

								<p><strong>1. Skills:</strong> Go through an exercise of self discovery about your own skills and then find co-founders with complementary skills. <br>

								<strong>2. Location:</strong> At the early stages of a startup, communication with your co-founders is more important than ever. You might decide you need to be physically present with your co-founders. <br>

								<strong>3. Personality:</strong> Working on a startup will mean spending alot of time with your co-founders. Do you think you can get along with this person in stressful times? <br>

								<strong>4. Values:</strong> Do you value a collaborative work style, or do you prefer a more hierarchical approach to delegating important tasks. Ensuring you and your cofounders have shared values could prevent the kind of future disagreements that kills early stage startups. <br>

								<strong>5. Life Stages:</strong> At different stages of life we may have different responsibilities and expectations. You and your co-founders should be clear on each others priorities and dedication levels to the startup. <br>

								<strong>6. Diversity:</strong> Having different perspectives on your team can create healthy conflict, sharpen your thinking, and create innovate solutions. <br>

								</p>

								<p><h2>Questions to ask a potential Co-founder</h2>

								Founding Dating includes a helpful list of questions to ask a potential cofounder. These questions are divided into 4 sections. For the full list of questions go here.  <br>

								<strong>1. Personalities and Incentives</strong> - you have to spend a lot of time together, just having complementary skill-sets isn’t going to cut it. You really need to have chemistry and be aligned on why you’re building a company. <br>

								<strong>2. Personal Priorities</strong> - risk tolerance varies by individual, so make sure you know where the other stands and that you’re both comfortable with it. <br>

								<strong>3. Working Styles and Culture</strong> – this is so important and often overlooked. Think hard about the type of company you want to build culture-wise and make sure you’re aligned on how to build it. <br>

								<strong>4. Roles and Responsibilities</strong> – it’s great to have complementary skill sets, but there is such an immense amount of work to do at the beginning that you should make sure you agree on who is really going to own certain areas and which areas can/will be shared in the first 12-18 months. </p>
							</div>
							</div>
							<div class="fb-share-button" data-href="http://startupacademy.jsie.in/topics/week2/" data-layout="button_count"></div>
							<br>
						</div>
					</div>
	<div id="single-sidebar" class="col-md-4 col-sm-4 pull-left">
    <div id="single-sidebar-inner">

    <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">

	<li>
	<div class="commentText">
    <h4><%= link_to("Questions to Ask Potential Co-Founders", "http://founderdating.com/questions-to-ask-potential-cofounders/", target: "_blank")%></h4>
   <%= link_to("Jessica Alter, Founder Dating", "https://twitter.com/jalter", target: "_blank")%>
  </div>
  </li>
	<li>
	<div class="commentText">
    <h4><%= link_to("How to Find a Co-Founder 101", "https://www.cofounderslab.com/resources/video-courses/how-to-find-a-co-founder-101-lesson-1", target: "_blank")%></h4>
   <%= link_to("Shahab Kaviani, CoFoundersLab", "https://twitter.com/kavianis", target: "_blank")%>
  </div>
  </li>
	<li>
	<div class="commentText">
    <h4><%= link_to("You Need a Co-Founder, Not a Slave", "http://yourstory.com/2015/07/need-co-founder/", target: "_blank")%></h4>
   <%= link_to("Your Story", "http://yourstory.com/", target: "_blank")%>
  </div>
  </li>    
   <li>
	<div class="commentText">
    <h4><%= link_to("Ideas, Products, Teams and Execution", "http://www.howtostartastartup.co/start-startup-lecture-2-ideas-products-teams-execution-part-ii/", target: "_blank")%></h4>
   <%= link_to("Sam Altman, YCombinator", "https://twitter.com/sama", target: "_blank")%>
  </div>
  </li>					            
  <li>
	<div class="commentText">
    <h4><%= link_to("10 Steps to Finding the Right Co-Founder", "http://www.entrepreneur.com/article/244259", target: "_blank")%></h4>
   <%= link_to("Entrepreneur Magazine", "http://www.entrepreneur.com/", target: "_blank")%>
  </div>
  </li>							            
    <li>
	<div class="commentText">
    <h4><%= link_to("Founder Vesting", "http://cdixon.org/2009/04/21/founder-vesting/", target: "_blank")%></h4>
   <%= link_to("Chris Dixon, Venture Capitalist", "https://twitter.com/cdixon", target: "_blank")%>
  </div>
  </li>						            
   </ul>
  </div>
  </div>						            
							      
      <div class="widget">
	<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
	<div class="recent-comment-list">
	<ul class="comment-list fade-up">					           							
   <li>
	<div class="commentText">
    <h4><%= link_to("Founder 2be", "https://www.founder2be.com/", target: "_blank")%></h4>
    Find a Cofounder
  </div>
  </li>

   <li>
	<div class="commentText">
    <h4><%= link_to("Cofounders Lab", "https://www.cofounderslab.com/", target: "_blank")%></h4>
    Build Your Core Team
  </div>
  </li>

  <li>
	<div class="commentText">
    <h4><%= link_to("Founder Dating", "http://founderdating.com/", target: "_blank")%></h4>
    Find Your Cofounder
  </div>
  </li>
  </ul>	
</div>
</div>

  <div class="widget">
  <h2 class="widget-title fade-down"><strong>Social</strong>Media</h2>
  <div class="recent-comment-list">
  <ul class="comment-list fade-up">
<div class="fb-page" data-href="https://www.facebook.com/JSiEstartupacademy" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JSiEstartupacademy"><a href="https://www.facebook.com/JSiEstartupacademy">StartUp Academy</a></blockquote></div></div>
   </div>
  </li> 
  </ul>	

  </div>           
  </div>        
  </div>  
  </div>
  </div>
<div class="jumbotron text-center">
<div class="btn-group" role="group" aria-label=""></div>
  <button type="button" class="btn btn-default"><- Getting Traction</button>
  <button type="button" class="btn btn-default">Fundraising -></button>
</div>
</div>
  </div>               
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>