<div id="topbar-latest-posts" class="header-widgets-wrapper">
    	<div id="topbar-latest-posts-inner-fullwidth" class="hidden-sm hidden-xs">
    		<div class="row">
				<div class="full-header">
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		                	<%= link_to greatidea_path do %>
		                    	<%= image_tag('greatidea.jpg', class: 'img-responsive', alt: 'great idea') %>
		                    	<% end %>
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Great</strong>Idea</h3>
		                    	</div>
		                    </a>                                  
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		               		<a href="single-post.html">
		               			<%= image_tag('cofounder.jpg', class: 'img-responsive', alt: 'Cofounders') %>
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Co</strong>founders</h3>
		                    	
		                    	</div>
	                    	</a>                                 
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
			                <a href="single-post.html">
			                	<%= image_tag('bmc.jpg', class: 'img-responsive', alt: 'Business Model Canvas') %>
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Business</strong>Model</h3>
		                    		
		                    	</div>
		                    </a>                               
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		                	<a href="single-post.html">
		                    	<%= image_tag('traction.jpg', class: 'img-responsive', alt: 'Traction') %>	
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Getting</strong>Traction</h3>
		                    		
		                    	</div>
	                    	</a>                               
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
	                		<a href="single-post.html">
		                    	<%= image_tag('funds.jpg', class: 'img-responsive', alt: 'Fundraising') %>
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Fund</strong>Raising</h3>
		                    		
		                    	</div>
	                    	</a>                              
		                </div>        
	                </div>
				</div>
	        </div>
    	</div>
    </div>