 <!-- Navigation -->
    <nav class="navbar yamm navbar-default" role="navigation" id="main-navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <%= link_to image_tag('logo1.png', class: 'navbar-brand', alt: 'logo'), "#" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse in" id="main-navigation-collapse" aria-expanded="true">
              <div class="container">
        <ul class="nav navbar-nav navbar-right">
              <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">ABOUT</a>
                    <ul class="dropdown-menu">
                      <div class="widget-header">
                          <div class="col-lg-12">
                             <h2 class="widget-title fade-down"><br><strong>About</strong>  Startup Academy</h2>
                            
                              <h4 class="media-heading">Startup Academy aims to inspire our best and the brightest to be entrepreneurs that creatively address the world’s most pressing challenges. Designed to enhance collaboration, JSiE provides budding entrepreneurs with mentorship, resources, access to capital, publicity and connections to top talent.</h4><br>
                          
                             <div class="jumbotron text-center">
                            <div class="btn-group btn-group-lg" role="group" aria-label=""></div>
                          <%= link_to("Apply", "https://jsie.typeform.com/to/EpjQXv", class: 'btn btn-default') %>  
                            </div>
                            <div class="spacer-10"></div>
                             
                            <ul class="yamm-list list-unstyled">
                                    <li><a href="#"></a></li>
                                  
                                   </ul>
                                </div>  
                        </ul>

            <li class="dropdown yamm-fw">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">BLOGS</a>
                    <ul class="dropdown-menu" id="blog">
                          <div class="col-lg-12">
                             <div class="widget-header">
                       <h2 class="widget-title fade-down"><br><strong>BLOG SERIES</strong> How to Start a Startup</h2>
                <div class="yamm-content">
                 <ul class="media-list">
                  <li class="media">
                   <div class="media-body">
                  <h4><%= link_to("A Great Idea", greatidea_path, class: 'media-heading')%></h4>
                    What problem am I solving?
                  </div>
                  </li>

                   <li class="media">
                  <div class="media-body">
                    <h4><%= link_to("Cofounders", cofounders_path, class: 'media-heading')%></h4>
                     Do I need a cofounder?
                  </div>
                  </li>
                   <li class="media">
                  <div class="media-body">
                  <h4><%= link_to("Business Model", businessmodel_path, class: 'media-heading')%></h4>
                   Do I need to write a business plan?
                  </div>
                  </li>
                    <li class="media">
                  <div class="media-body">
                  <h4><%= link_to("Getting Traction", gettingtraction_path, class: 'media-heading')%></h4>
                   How do I measure my progress?    
                  </div>
                  </li>
                    <li class="media">
                  <div class="media-body">
                  <h4><%= link_to("Fundraising", fundraising_path, class: 'media-heading')%></h4>
                   How do I get funding?   
                  </div>
                  </li>                                
                                   </ul>
                                </div>
                                </div> 
                              </div>
                        </ul>


           <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Legal Enterprenuership Cell</a>
                    <ul class="dropdown-menu">
                      <div class="widget-header">
                          <div class="col-lg-12">
                             <h2 class="widget-title fade-down"><br><strong>Legal Entreprenuership</strong> Cell</h2>
                            
                              <h4>The Legal Entreprenuership Cell (LEC) works alongside JSiE's Startup Academy to advise entreprenuers on legal issues, organise events, and maintain a blog to help spread awareness of the legal issues faced by startups.</h4>
                           

                            <div class="jumbotron text-center">
                            <div class="btn-group btn-group-lg" role="group" aria-label=""></div>
                          <%= link_to("Apply", "https://jsie.typeform.com/to/EpjQXv", class: 'btn btn-default') %>  
                            </div>
                            <div class="spacer-10"></div>
                            </div>
                            <ul class="yamm-list list-unstyled">
                                    <li><a href="#"></a></li>
                                  
                                   </ul>
                                </div>  
                        </ul>
  </ul>
          </li>
 </div>
</div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
