<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Startup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="has-home-slider">
	<div class="preloader">
		<div class="preloader-img">
			<%= image_tag('logo.png', class: 'fade-down', alt: 'logo') %>
		</div>
	</div>
<%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>
